/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}
@charset "utf-8";
/** VARIABLE VARIABLES **/
/*** GENERAL PAGE STYLES ***/
.pageWidth {
  margin: 0 auto;
  min-width: 940px;
  width: 976px; }

html, body {
  width: 100%;
  min-width: 940px; }

body {
  background-color: #F0F0F0;
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 12px; }

::selection {
  background: none;
  text-shadow: none; }

/*** END GENERAL PAGE STYLES ***/
/*** HEADER STYLES ***/
header {
  display: block;
  width: 100%;
  height: 157px;
  background-image: url('../../img/header-bg-tile-251b2b137873.png'); }
  header > div {
    padding-top: 16px; }

.positionReset {
  position: relative; }

#mainTabs {
  list-style: none;
  position: absolute;
  top: 76px;
  left: 50%;
  margin-left: -503px;
  display: block;
  width: 920px; }
  #mainTabs > li {
    display: block;
    position: relative;
    float: left;
    white-space: nowrap;
    word-wrap: normal; }
    #mainTabs > li > a {
      color: #a5cae4;
      font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      height: 35px;
      line-height: 33px;
      outline: #A5CAE4 none 0;
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      text-shadow: white 0 0 0, #1b1b1b 0 1px 0;
      text-shadow: rgba(255, 255, 255, 0) 0 0 0, #1b1b1b 0 1px 0; }
    #mainTabs > li.moreOptions {
            /*&.selected {
                > a {
                    padding-right: 19px;
                    border-top-right-radius: 4px;
                }

                > div {
                    display: none;
                }
            }*/ }
      #mainTabs > li.moreOptions > a {
        padding-right: 19px;
        border-top-right-radius: 4px; }
      #mainTabs > li.moreOptions > div.moreOptions {
        visibility: hidden;
        /*margin-left: -3px;*/
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 5px;
        border-top-right-radius: 4px;
        height: 35px;
        width: 9px;
        line-height: 34px;
        display: inline-block; }
        #mainTabs > li.moreOptions > div.moreOptions > div.holdOpener {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 900;
          border: none !important; }
          #mainTabs > li.moreOptions > div.moreOptions > div.holdOpener > a {
            display: block;
            color: transparent;
            width: 100%;
            height: 100%; }
        #mainTabs > li.moreOptions > div.moreOptions h3 {
          margin: 0; }
        #mainTabs > li.moreOptions > div.moreOptions > * {
          width: 100%; }
        #mainTabs > li.moreOptions > div.moreOptions > div > ul {
          display: block;
          width: 100%; }
        #mainTabs > li.moreOptions > div.moreOptions .upperBit {
          background-color: #fcfcff;
          background-color: rgba(252, 252, 255, 0.96);
          padding-left: 1em; }
        #mainTabs > li.moreOptions > div.moreOptions .lowerBit {
          margin: 0;
          padding: 4px 10px;
          background: #f0f7fc;
          background-color: rgba(240, 247, 252, 0.96);
          width: 100%;
          height: 100%; }
          #mainTabs > li.moreOptions > div.moreOptions .lowerBit li {
            display: list-item;
            float: none;
            list-style: none;
            padding: 0; }
          #mainTabs > li.moreOptions > div.moreOptions .lowerBit a {
            text-decoration: none;
            display: block;
            color: #1061B3;
            padding: 5px 10px;
            width: 160px;
            font-weight: bold;
            line-height: 1em;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -khtml-border-radius: 5px; }
            #mainTabs > li.moreOptions > div.moreOptions .lowerBit a:hover, #mainTabs > li.moreOptions > div.moreOptions .lowerBit a:focus {
              background-color: #d7edfc; }
            #mainTabs > li.moreOptions > div.moreOptions .lowerBit a:active {
              background-color: #a5cae4;
              color: #032a46; }
        #mainTabs > li.moreOptions > div.moreOptions img {
          vertical-align: middle;
          padding-bottom: 5px; }
        #mainTabs > li.moreOptions > div.moreOptions > div.other {
          display: none;
          position: absolute;
          z-index: 7500;
          top: 32px;
          left: 0;
          width: 200px;
          overflow: hidden;
          border: 1px solid #6cb2e4;
          box-shadow: 0px 5px 5px black;
          -webkit-box-shadow: 0px 5px 5px black;
          -moz-box-shadow: 0px 5px 5px black;
          -khtml-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          -khtml-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          font-size: 11px; }
        #mainTabs > li.moreOptions > div.moreOptions:hover > div, #mainTabs > li.moreOptions > div.moreOptions > div:hover {
          display: block; }
      #mainTabs > li.moreOptions:hover > div {
        visibility: visible;
        display: inline-block;
        opacity: 1; }
  #mainTabs li.selected > a, #mainTabs li:hover a {
    color: #F0F0F0; }
  #mainTabs li.selected > a, #mainTabs li.selected.moreOptions > div {
    background: #2096e1 url('../../img/navigation-tab-f70a4f410b13.png'); }
  #mainTabs li.rightTab {
    float: right; }

#subTabs {
  clear: both;
  list-style: none;
  position: absolute;
  top: 111px;
  left: 50%;
  margin-left: -490px; }
  #subTabs li {
    position: relative;
    left: -30px;
    font-size: 11px;
    float: left;
    padding: 6px 0; }
    #subTabs li a {
      display: block;
      padding: 1px 10px;
      line-height: 21px;
      color: white;
      font-size: 11px;
      text-decoration: none; }
    #subTabs li a:hover, #subTabs li a:focus {
      text-decoration: none;
      padding: 0 10px;
      border-radius: 5px;
      outline: 0;
      border-top: 1px solid black;
      border-bottom: 1px solid white;
      background: black;
      text-shadow: 0px 1px 0px black;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(0, 0, 0, 0.1);
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6); }
  #subTabs li.selected a {
    font-style: italic; }

input[type="search"] {
  box-sizing: content-box; }

#searchBox {
  position: absolute;
  top: 127px;
  right: 18px; }
  #searchBox input {
    width: 232px;
    padding: 3px 6px;
    border: 1px solid #1061b3;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 0;
    background: url('http://bukkit.org/styles/flexile/xenforo/gradients/search-bg.png') top repeat-x white; }

/*** END HEADER STYLES ***/
/*** FOOTER STYLES ***/
footer {
  background-color: #282828;
  color: #646464;
  border-top: 5px solid #6cb2e4;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  margin-top: -112px;
  height: 77px;
  clear: both; }
  footer ul {
    list-style: none; }
  footer li {
    padding: 5px; }
  footer a, footer a:visited, footer a:hover, footer a:active {
    text-decoration: none; }
  footer a, footer a:visited {
    color: #A5CAE4; }
  footer a:hover, footer a:active {
    color: #d7edfc; }

/*** -- push footer to bottom - sticky footer -- ***/
html, body, #container {
  height: 100%; }

#wrap {
  min-height: 100%; }

#mainWrap {
  overflow: auto;
  padding-bottom: 112px; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/*** -- end push footer to bottom - sticky footer -- ***/
/*** END FOOTER STYLES ***/
/*** GENERAL BODY STYLES ***/
.mainPad {
  padding-top: 17px;
  padding-bottom: 17px; }

.block {
  padding-bottom: 15px; }
  .block .innerContent {
    position: relative;
    background-color: #fcfcff;
    padding: 0 15px 15px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    border-bottom: 1px solid #d7edfc;
    box-shadow: 0 0 12px black;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
    .block .innerContent h3 {
      font-size: 14px;
      font-family: Georgia, "Times New Roman", serif;
      color: #777;
      background: #f1f1ec url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
      padding: 10px 15px;
      margin: 0 -15px 15px;
      border-bottom: 1px solid #D6D6D6; }

/*** END GENERAL BODY STYLES ***/
/*** DOWNLOAD BUTTON STYLES ***/
.downloadButton {
  background: #437a00 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
  display: block;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
  position: relative;
  clear: both;
  box-shadow: #437a00 0 0 12px; }
  .downloadButton + * {
    margin-top: 39px; }
  .downloadButton > a:first-child {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px; }
  .downloadButton a {
    color: white;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in; }
    .downloadButton a:hover {
      color: white; }
  .downloadButton span, .downloadButton small, .downloadButton a {
    display: block; }
  .downloadButton a {
    text-decoration: none; }
  .downloadButton.chan-dev {
    background: #950519 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
    box-shadow: #950519 0 0 12px; }
  .downloadButton.chan-beta {
    background: #f1b700 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
    box-shadow: #f1b700 0 0 12px; }
  .downloadButton.chan-next {
    background: #ff6501 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
    box-shadow: #ff6501 0 0 12px; }
  .downloadButton.mini > a:first-child {
    padding-top: 5px;
    padding-bottom: 5px; }
  .downloadButton .downloadButtonDetailTab {
    position: absolute;
    z-index: 900;
    width: 16px;
    height: 16px;
    right: 9px;
    bottom: 9px; }

.twoCol {
  width: 470px;
  margin-right: 15px; }
  .twoCol.sidebar.left {
    width: 626px; }
  .twoCol.sidebar.right {
    width: 313px; }
  .twoCol.left {
    float: left;
    clear: left; }
  .twoCol.right {
    clear: right;
    float: right;
    position: relative; }
  .twoCol.both {
    clear: both;
    width: 960px;
    margin-right: 0; }

h4 {
  font-size: larger; }

.dangerWarning {
  border: 1px solid #D6D6D6;
  margin-top: 15px;
  margin-bottom: 15px; }
  .dangerWarning h4 {
    display: block;
    padding-left: 32px;
    height: 10px;
    margin-top: 0;
    line-height: 10px;
    background: #f1f1ec url('../../img/fugue/exclamation-c798b20a31f0.png') no-repeat 5px 2px;
    font-family: Georgia, "Times New Roman", serif;
    color: #777;
    border-bottom: 1px solid #D6D6D6; }
  .dangerWarning p {
    padding-left: 12px;
    padding-right: 12px; }

h4 {
  font-family: Georgia, "Times New Roman", serif;
  color: #777;
  background: #f1f1ec url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top;
  padding: 10px 15px; }
  h4 .borderBot {
    border-bottom: 1px solid #D6D6D6; }

.paginated .paginatorCount {
  float: right; }
.paginated .paginatorPageCount {
  width: 8em;
  display: inline-block; }
.paginated nav {
  display: inline-block; }
  .paginated nav a {
    line-height: 17px;
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #F0F7FC;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    text-decoration: none;
    color: #1973E8; }
    .paginated nav a.page {
      width: 17px; }
    .paginated nav a.selected, .paginated nav a:hover {
      color: #2B485C;
      background-color: #F0F7FC;
      border-color: #6CB2E4; }
    .paginated nav a.prevBack {
      padding-left: 5px;
      padding-right: 5px; }
    .paginated nav a.paginatorBack, .paginated nav a.paginatorForward {
      color: black; }
    .paginated nav a.disabled, .paginated nav a.disabled:hover {
      cursor: default;
      border: 1px solid transparent;
      background-color: #e0e0e0;
      color: #909090; }

.js .scroller {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 17px;
  display: inline-block;
  height: 19px;
  width: 158px;
  overflow: hidden;
  margin-bottom: -6px;
  position: relative; }
  .js .scroller + a {
    margin-left: 0; }
  .js .scroller .innerScroll {
    width: 5000px;
    position: absolute;
    top: 0;
    left: 0px; }
.js .collapsible > h4:first-child {
  cursor: pointer; }
.js .collapsible > h4:first-child:before {
  content: "▼ "; }
.js .collapsible.collapsed > h4:first-child:before {
  content: "▶ "; }
.js .collapsible.collapsed .body {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none; }
.js .collapsible .body {
  transition: height 1s ease-in;
  -moz-transition: height 1s ease-in;
  -webkit-transition: height 1s ease-in;
  -o-transition: height 1s ease-in; }
.js .collapsible.collapsed.apiChanges + div.commitChanges .commitList {
  max-height: 351px; }

h4.noMargin {
  margin: 0; }

.versionsTable {
  width: 100%; }
  .versionsTable td, .versionsTable th {
    height: 19px;
    line-height: 19px;
    text-align: center; }
  .versionsTable tbody tr a {
    display: block;
    width: 100%;
    height: 100%; }
  .versionsTable tbody tr.chan-rb {
    background-color: #437a00;
    background-color: rgba(67, 122, 0, 0.3); }
  .versionsTable tbody tr.chan-beta {
    background-color: #f1b700;
    background-color: rgba(241, 183, 0, 0.3); }
  .versionsTable tbody tr.chan-next {
    background-color: #ff6501;
    background-color: rgba(255, 101, 1, 0.3); }
  .versionsTable tbody tr:hover {
    background-color: #c8c8c8;
    background-color: rgba(0, 0, 0, 0.3); }
  .versionsTable tbody tr td.downloadLink img {
    vertical-align: text-top; }

dd {
  word-wrap: break-word;
  margin-bottom: 0.75em; }

.copy-input {
  position: relative;
  padding-bottom: 1em; }
  .copy-input .copy-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../img/copy-e2f5210981a1.png'); }
  .copy-input input {
    position: absolute;
    width: 95%;
    top: 0;
    right: 0;
    left: 20px; }

.buttonArea {
  display: block;
  position: absolute;
  font-size: 20px;
  width: 210px;
  top: 5px;
  right: 5px; }
  .buttonArea .button {
    display: inline-block;
    height: 27px;
    line-height: 27px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    background: #D6D6D6;
    padding-left: 5px; }
    .buttonArea .button a {
      color: #222;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none; }
      .buttonArea .button a:hover {
        color: #555; }
    .buttonArea .button.disabled {
      color: #777;
      background: #D6D6D6; }
    .buttonArea .button.chan-rb {
      background: #6dc700 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top; }
      .buttonArea .button.chan-rb.disabled {
        color: #777; }
    .buttonArea .button.chan-dev {
      background: #df0725 url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top; }
      .buttonArea .button.chan-dev.disabled {
        color: #777; }
    .buttonArea .button.chan-beta {
      background: #ffd13f url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top; }
      .buttonArea .button.chan-beta.disabled {
        color: #777; }
    .buttonArea .button.chan-next {
      background: #ff934d url('../../img/navigation-tab-f70a4f410b13.png') repeat-x top; }
      .buttonArea .button.chan-next.disabled {
        color: #777; }

.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; }

.twipsy.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; }

.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000; }

.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000; }

.twipsy.below .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000; }

.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000; }

.twipsy-inner {
  padding: 3px 8px;
  background-color: #000000;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0; }

.fade {
  -moz-transition: opacity 0.15s linear 0s;
  -o-transition: opacity 0.15s linear 0s;
  -webkit-transition: opacity 0.15s linear 0s;
  transition: opacity 0.15s linear 0s;
  opacity: 0; }

.fade.in {
  opacity: 1; }

.jiraInlineLink {
  background-image: url('../../img/fugue/bug-tracker-53149eb189e6.png');
  background-repeat: no-repeat;
  min-height: 16px;
  display: inline-block;
  padding-left: 18px; }

.githubFavicon {
  display: inline-block;
  line-height: 16px;
  padding-left: 18px;
  min-height: 16px;
  background-image: url('../../img/external_favicons/github-525a7fec1264.ico');
  background-repeat: no-repeat; }
  .githubFavicon.noText {
    width: 0;
    height: 16px;
    padding-left: 16px;
    max-width: 0;
    overflow: hidden; }
  .githubFavicon.onTheRight {
    float: right; }

/**** COMPARE VIEW ****/
.commitList {
  /* lineheight * lines to show + 1 for header */
  max-height: 246px;
  overflow: auto; }
  .commitList table {
    width: 100%;
    border-bottom: none; }
  .commitList tr {
    border: none;
    border-bottom: none;
    background-color: #ddd; }
    .commitList tr:nth-child(2n) {
      background-color: #eee; }
  .commitList td {
    padding: 5px 2px;
    vertical-align: center;
    height: 24px;
    line-height: 24px; }
  .commitList img {
    border: 2px solid gray;
    width: 20px;
    height: 20px; }
  .commitList code {
    padding-left: 10px; }
  .commitList a {
    color: #555;
    text-decoration: none; }
    .commitList a:hover {
      text-decoration: underline; }

.apiChanges {
  margin-top: 2em;
  /* New stuffs */
  /* Warnings */
  /* Fatal changes */ }
  .apiChanges .apic-class.apic-added.apic-full,
  .apiChanges .apic-interface.apic-added,
  .apiChanges .apic-field.apic-added,
  .apiChanges .apic-method.apic-added.apic-full {
    color: #5F7B19; }
  .apiChanges .apic-deprecated {
    color: #82471B; }
  .apiChanges .apic-removed,
  .apiChanges .apic-decreased,
  .apiChanges .apic-changed,
  .apiChanges .apic-to_class, .apiChanges .apic-to_interface {
    color: #FF2C00; }

.artifactChangeTitle {
  font-weight: bold; }

.jiraIssues li, .jiraIssues li * {
  vertical-align: top; }
.jiraIssues li.issue-improvement {
  list-style-image: url('../../img/fugue/improvement-7720421de8dc.png'); }
.jiraIssues li.issue-new-feature {
  list-style-image: url('../../img/fugue/feature-d0bdf2bf5de3.png'); }
.jiraIssues li.issue-bug {
  list-style-image: url('../../img/fugue/bug-e0044f8ef748.png'); }
.jiraIssues li.private-issue.issue-improvement {
  list-style-image: url('../../img/fugue/improvement-lock-7c5945ba81c4.png'); }
.jiraIssues li.private-issue.issue-new-feature {
  list-style-image: url('../../img/fugue/feature-lock-cdfa35a6b518.png'); }
.jiraIssues li.private-issue.issue-bug {
  list-style-image: url('../../img/fugue/bug-lock-87e6e3e67ed0.png'); }
.jiraIssues li ul {
  list-style-image: none; }

#apiDocumentation dt {
  font-weight: bold; }

/* Localized */